footer {
  padding:25px 0;
  background-color:$color-nav;
  position:relative;
  color:$color-white;
  #up-scroll {
    position: absolute;
    bottom:15px;
    right:30px;
    font-size:150%;
    color:$color-white;
  }
  i {
    margin-left:15px;
    color:$color-white;
  }
  p {
    margin-top:5px;
  }



}
