footer {
  padding:5px 0;
  background-color:$color-grey;
  position:relative;
  bottom:0;
  color:$color-white;
  #up-scroll {
    position: absolute;
    bottom:8px;
    right:20px;
    font-size:100%;
  }
  i {
    margin-left:2%;
    color:$color-white;

  }
  p {
    margin-top:5px;
  }

}
#footer-links {
  background:$color-footer;
	padding:50px 0;
	text-align:center;
  .footer_list {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-size: 75%;
    font-weight: 400;
    li {
      margin-bottom:10px;
    }
  }
  h4 {
    text-align:left;
    color:$color-white;
  }
  a {
    text-decoration: none;
    color:$color-greyhover;
    &:hover {
      color:$color-white;
    }
  }

}
