.logo-dasp {
	width:100px;
}
.navbar-inverse {
	border:none;
	background:rgba(0,0,0,0.5);
}
.navbar-inverse ul li a {
	font-size:80%;
	margin-top:3px;

}
.navbar-toggle {
	margin-top:14px;
}
.navbar-inverse .navbar-nav > li > a {
    color:$color-white;
    &:hover {
		color:$color-greyhover;
	}
}
// NAV-GREY
.nav-solid {
	background:$color-grey;
	z-index: 9999;
	top:0;
}
