#logo-dasp {
	width:100px;
}
.navbar-inverse {
	border:none;
	background:rgba(0,0,0,0.25);
	//border-bottom:1px solid rgba(255,255,255,.1);

}
.navbar-inverse ul li a {
	font-size:80%;
	margin-top:3px;

}
.navbar-inverse .navbar-nav > li > a {
    color:$color-white;
    &:hover {
		color:$color-greyhover;
	}
}
// NAV-GREY
.nav-solid {
	background:$color-grey;
	z-index: 9999;

}
//nav-transparent
.nav-transparent {
		background:rgba(0,0,0,0.45);
}
