// SECTION HERO
#hero {
	background:-webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/12345.jpg');
	background:-o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/12345.jpg');
	background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/12345.jpg');
	@include background(cover);
	height:96vh;
	background-attachment: fixed;
	text-align:center;
	.title-hero  {
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		text-align:center;
		color:$color-white;
		h1 {
			text-transform: uppercase;
			font-size:300%;
			font-weight: 300;
			letter-spacing: 3px;
			margin-bottom:10px;
		}
		p {
			letter-spacing: 1px;
			line-height: 145%;
			margin-bottom:50px;
		}
	}
}
// mission
#mission {
	text-align:center;
	p {
		text-align:justify;
		width:90%;
		margin-left:5%;

	}

	h3 {
		font-size:120%;
		text-transform: uppercase;
		display:inline-block;
		margin-top:20px;
	}

	i {
		margin-left:3%;
		color:$color-red;
	}
	h2 {
		margin-bottom:45px;
	}
}
// process
#process {
	background:-webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../i/content/hero1.jpg');
	background:-o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../i/content/hero1.jpg');
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../i/content/hero1.jpg');
	@include background(cover);
	text-align:center;
	h2 {
		margin-bottom:80px;
		color:$color-white;
	}
	.panel {
		background:rgba(0,0,0,0.5);
		color:$color-white;
	}
	.panel-title {
		border-bottom:1px solid transparent;
		background-color:$color-red;
		padding: 2px 15px;
		color:$color-white;

	}
}
// order
#order {
	background-color:rgba(0,0,0,0.1);
	h3 {
		font-size: 140%;
		text-align:center;
		color:$color-red;
		text-transform: uppercase;

	}
	p {
		text-align: justify;

	}
	h2 {
		text-align:center;
		margin-bottom:45px;
	}
	.right-part {
		margin-top:15px;
	}
}
//animation waypoint

.waypoint-1,
.waypoint-2,
.waypoint-3 {
	opacity: 0;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.waypoint-1.animated,
.waypoint-2.animated,
.waypoint-3.animated
{
	opacity: 1;
}

.waypoint-pulse-1 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
	 animation-delay: 1s;
}
.waypoint-pulse-2 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
	 animation-delay: 2s;
}
.waypoint-pulse-3 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
	 animation-delay: 3s;
}

.waypoint-pulse-1,
.waypoint-pulse-2,
.waypoint-pulse-3
 {
	opacity: 1;
}
//modal

.remodal {
	background:rgba(0,0,0,0.45);
	#logo-dasp {
		margin-bottom:15px;
	}
	.form-group {
		width:60%;
		margin-left:20%;
		background:rgba(0,0,0,0.45);

	}
	.dropdown {
		text-align:left;
		margin-left:20%;
	}

}
