//hero
#hero {
	text-align:center;
	height:100vh;
	position:relative;
	#scroll_down {
		position:absolute;
		bottom:2%;
		left:50%;
		transform: translate(-50%,-50%);
		color:$color-white;
		font-weight:300;
		&:hover,
		&:active {
			text-decoration: none;
			opacity:0.8;
		}
	}
	.title-hero  {
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		text-align:center;
		color:$color-white;
		a {
			color:$color-white;
		}
		h1 {
			text-transform: uppercase;
			font-size:300%;
			font-weight: 300;
			letter-spacing: 3px;
			margin-bottom:10px;
		}
		p {
			letter-spacing: 1px;
			line-height: 145%;
			margin-bottom:50px;
		}
	}
}
// mission
#mission {
	text-align:center;
	p {
		text-align:justify;
		width:90%;
		margin-left:5%;
	}

	#problem-left-col {
		border-right: 1px solid #e5e5e5;
    height:50%;
	}

	h3 {
		font-size:120%;
		text-transform: uppercase;
		display:inline-block;
		margin-top:20px;
	}

	i {
		margin-left:3%;
		color:$color-red;
	}
	h2 {
		margin-bottom:45px;
	}
}
// process
#process {
	text-align:center;
	background:#f5f5f5;
	h2 {
		margin-bottom:50px;
	}
	.icon-process {
		width:150px;
		margin-bottom:5px;
	}

}
// users
#users {
	h2 {
		text-align:center;
		margin-bottom:50px;
	}
	p {
		text-align:justify;
		margin-bottom:15px;
	}
	#dasper_1_row {
		margin-bottom:100px;
		text-align:center;
		padding-bottom:50px;
		margin-right:0;
		margin-left:0;
		border-bottom:1px solid #e5e5e5;

	}
	#dasper_2_row {
		@extend #dasper_1_row;
	}
	#dasper_3_row {
		text-align:center;
		margin-right:0;
		margin-left:0;
	}
	.icon-users {
		width:150px;
	}
	.btn-medium {
		padding:11px 50px;
		-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
		-webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #ff4c4c;
		color:$color-white;
		a {
			color:$color-white;
		}
		&:hover {
			color: #fff;
	    background-color: #d2322d;
	    border-color: #ac2925;
		}
	}
}
//modal

.remodal {
	background:rgba(0,0,0,0.45);
	.logo-dasp {
		margin-bottom:15px;
	}
	.form-group {
		width:60%;
		margin-left:20%;
		background:rgba(0,0,0,0.45);
	}

	.dropdown {
		text-align:left;
		margin-left:20%;
	}
}
//hero customer
#hero_customer {
		background:url('../i/content/hero3.jpg') no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 height:100vh;
	 .title_customer {
		 text-align:left;
		 position:absolute;
		 top:50%;
		 color:$color-white;
	 }
 h1 {

		 font-size:300%;
		 font-weight: 300;
		 letter-spacing: 3px;
		 margin-bottom:50px;
	 }

}
//steps
#steps_user {
	text-align:center;
	h2 {
		margin-bottom:50px;
	}
	.unslider-arrow {
		display:none;
	}
}
#steps_user .my-slider ul li {
	.mobile_user_img {
		width:30%;
	}
	.mobile_user_paragraph {
		text-align:justify;
	}
}
//why us
#why_us {
	text-align:center;
	h2 {
		margin-bottom:40px;
	}
	h3 {
		margin-bottom:20px;
		color:$color-red;
	}
	p {
		text-align:justify;
		line-height:145%;
	}
}
//behind scene
#behind_scene {
	text-align:left;
	background:$color-redusers;
	color:$color-white;
	padding:0;
	h2 {
		margin-bottom:0px;
		border:none;
		&:after {
			display:none;
		}
	}

	p {
		text-align:justify;
		width:85%;
	}
	#behind_img {
		display:block;
		width:100%;
		float:left;
	}
}
// join users
#join_users {
		background:$color-redusers;
		color:#eee;
		#signup_today {
		margin-top:50px;
		background:transparent;
		border:1px solid #eee;
		&:hover {
			border:1px solid #e6e6e6;
			background:#e6e6e6;
			color:$color-red;
		}
	}
}
