// mobile layout
@media (max-width: 768px) {
		.navbar-toggle {
		    border:none;
			&:hover {
			    	border:none;
			    	background:transparent;
			    	}
			&:active {
					background-color: transparent;
			}
			&:focus {
					background-color:transparent;
			}
					}

		.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
			background: transparent;
			opacity: .8;
		}
	 #hero .title-hero h1 {
	 	font-size:300%;
	 }
	 #hero video {
		 display:none;
	 }
	 #hero {
		background:-webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero.jpg');
		background:-o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
		background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
		@include background(cover);
		height:96vh;
		background-attachment: fixed;
		text-align:center;
	 }
	 #mission #problem-left-col {
		 border:none;
	 }
}
