// mobile layout
@media (max-width: 768px) {
		.navbar-toggle {
		    border:none;
			&:hover {
			    	border:none;
			    	background:transparent;
			    	}
			&:active {
					background-color: transparent;
			}
			&:focus {
					background-color:transparent;
			}
					}

		.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
			background: transparent;
			opacity: .8;
		}
	 #hero .title-hero h1 {
	 	font-size:270%;
	 }
	 #hero video {
		 display:none;
	 }
	 #hero {
		background:-webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero.jpg');
		background:-o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
		background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
		@include background(cover);
		padding:250px 0;
		height:100vh;
		text-align:center;
		#down_arrow {
			display:none;
		}
	 }
	 #mission #problem-left-col {
		 border:none;
	 }
	 #footer-links {
		 display:none;
	 }
	 #select-options {
	   width:60%;
	   margin-left:20%;
	 }
	 #why_us p {
    width: 90%;
    margin-left: 5%;
	}
	#behind_scene {
		h2 {
			text-align:center;
			margin-top:25px;
		}
		p {
			margin-left:5%;
		}
		h3 {
			margin-left:5%;
		}
	}
	section {
		padding:50px 0;
	}
	#hero_customer {
		background:url('../i/content/hero3.jpg') no-repeat center center;
		.title_customer {
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			text-align:center;
		}
	}
	#steps_user .my-slider ul li .mobile_user_paragraph {
    text-align: justify;
    font-size: 85%;
    width: 80%;
    margin-left: 10%;
	}

}

@media (max-width: 1200px) {
	#hero video {
		display:none;
	}
	#hero {
	 background:-webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero.jpg');
	 background:-o-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
	 background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../i/content/hero2.jpg');
	 @include background(cover);
	 padding:250px 0;
	 height:100vh;
	 text-align:center;
	}
	.notification-bar {
		display:none !important
	}
	.navbar-inverse {
		top:0 !important;
	}
}
