// mobile layout
@media (max-width: 768px) {
	.navbar-inverse {
		background-color: #2b2b2b;
		.navbar-toggle {
		    border:none;
		&:hover {
		    	border:none;
		    	background:transparent;
		    	}
	    	}
	 	}
	 #hero .title-hero h1 {
	 	font-size:200%;
	 }
}
