//animation waypoint
.waypoint-1,
.waypoint-2,
.waypoint-3 {
	opacity: 0;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.waypoint-1.animated,
.waypoint-2.animated,
.waypoint-3.animated
{
	opacity: 1;
}

.waypoint-pulse-1 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
	 animation-delay: 1s;
}
.waypoint-pulse-2 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
	 animation-delay: 2s;
}
.waypoint-pulse-3 {
	opacity: 0;


	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
	 animation-delay: 3s;
}

.waypoint-pulse-1,
.waypoint-pulse-2,
.waypoint-pulse-3
 {
	opacity: 1;
}
