@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';
body,
html {
    max-width: 100%;
    overflow-x: hidden !important;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: $font-stack;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h2:after {
    display: block;
    height: 2px;
    background-color: $color-red;
    content: "";
    width: 100px;
    margin: 10px auto 0;
}
h2 {
    font-size: 280%;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-huge {
    padding: 12px 22px;
    font-size: 110%;
    @include border-radius(5px);
    @include transition(background-color,0.2s);
    background-color: $color-button;
}
.icon-big {
    font-size: 200%;
}
.icon-small {
    font-size: 135%;
}
section {
    padding: 80px 0;
}
p {
    line-height: 145%;
    font-family: $font-stack;
}
h1,
h2,
h3 {
    font-family: $font-stack;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
#select-options {
    width: 20%;
    margin-left: 20%;
}
.notification-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-grey;
    color: white;
    text-align: center;
    padding: 22px;
    z-index: 99999;
    i {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 150%;
        color: white;
    }
}
.footer_list {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-size: 88.88%;
    font-weight: 400;
}
