@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';

body {
	margin:0;
	padding:0;
	font-size:20px;
	font-family:$font-stack;
	text-rendering: optimizeLegibility;
  overflow-x: hidden;

}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
h2:after {
	display:block;
	height:2px;
	background-color:$color-red;
	content:"";
	width:100px;
	margin: 10px auto 0 auto;
}

h2 {
	font-size:280%;
	letter-spacing: 1px;
	font-weight: 300;

}
.btn-huge {
	padding: 12px 22px;
    font-size: 110%;
    @include border-radius(5px);
    @include transition(background-color,0.2s);
}
.icon-big {
		font-size:200%;
}
.icon-small {
		font-size:135%;
}
section {
	padding:80px 0;
}
p {
	line-height: 145%;
	font-family: $font-stack;
}
h1,
h2,
h3 {
	font-family:$font-stack;
}
// svg icons
.svg-icon {
  width: 1.6em;
  height: 1.6em;
	margin-left:1.2%;
	margin-bottom:-6px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $color-red;
}
